* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: transparent;
  background-image: linear-gradient(100deg, #f26798 0%, #2413bbd5 100%);
}

.top-title {
  margin: 50px 0;
  text-align: center;
  font-size: 34px;
  color: #343352;
}

.my-name {
  display: block;
  margin-top: 10px;
  color: #db3157;
}

.screen {
  display: flex;
  justify-content: center;
}

.app-title-text {
  font-size: 36px;
  text-align: center;
  margin-right: 0 10px;
}

.app-form-control {
  width: 200px;
  padding: 5px;
  margin: 2px 0;
  background-color: transparent;
  background-image: linear-gradient(100deg, #f26798 0%, #3023ae 100%);
  font-size: 18px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.app-form-control::placeholder {
  background-color: transparent;
  background-image: linear-gradient(100deg, #0a0a0a0e 0%, #dedcf821 100%);
  color: rgb(54, 53, 53);
  font-weight: 300;
  font-size: 16px;
}

.app-form-control:focus {
  outline: none;
}

.button {
  margin-top: 10px;
  background: #db3157;
  color: whitesmoke;
  width: 150px;
  height: 40px;
  padding: 5px;
  border-radius: 100px;
}

.button:hover {
  background: #3023ae;
}

.result-section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 100px;
}

.showdata {
  text-align: center;
  font-size: 21px;
}

.fail {
  color: red;
}

.pass {
  color: green;
}

footer {
  text-align: center;
}
